body{
    background: rgb(140, 133, 146);
}
#content{
    max-width: 60%;
    margin: auto;
    position: relative;
    display: none;
    display:none;
  
}

.header{
    width: 500px;
    height: 50px;
    background: rgb(56, 56, 59);
    border-radius: 50px 50px 0px 0px;
    position: relative;
    
}
.head{
    top:12px;
    left: 120px;
    position: absolute;
}
#close{
    top:10px;
    left:450px;
    width: 15px;
    height: 15px;
    padding-left:  5px;
    padding-bottom: 3px;
    background: rgb(150, 145, 140);
    border-radius: 5px;
   color:rgb(228, 219, 210);
    position: absolute;

}
.main{
    width: 500px;
    height: 300px;
    background: blanchedalmond;
    position: relative;
}
.bodies{
    top:100px;
    left:180px;
 position: absolute;
}
.footer{
    width: 500px;
    height: 50px;
    color:antiquewhite;
    background: rgb(22, 21, 21);
    border-radius: 0px 0px 50px 50px; 
    position: relative;
}
.lower{
    top:12px;
    left:180px;
position: absolute;
}
